name: Deploy Porfolio

on:
  push:
    branches: ["pages"]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: checkout code
        uses: actions/checkout@v5

      - name: setup node
        uses: actions/setup-node@v6 
      
      - name: install dependencies
        run: npm install
      
      - name: build app
        run: npm run build

      - name: upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          name: porfolio
          path: dist/
  
  deploy:
    needs: build
    permissions:
      pages: write
      id-token: write
    runs-on: ubuntu-latest
    steps:
      - name: deploy to github-pages
        id: deployment
        uses: actions/deploy-pages@v4